html,
body {

    font-family: 'Kanit', sans-serif;
    background-color: #f5f5f5;

}

#myPadding {
    padding: 85px;
}

#result {
    position: absolute;
    display: block;
    width: 22%;
    height: 3%;
    top: 8.5%;
    right: 6.5%;
    z-index: 2;
    cursor: pointer;
  }